body {
  font-family: sans-serif;
  background-image: url(https://i.pinimg.com/originals/28/97/72/289772b6df9b6bd8461e6b42413973fd.jpg);
  background-size: cover;
}

a {
  text-decoration: none;
  color: white;
  /* text-decoration-style: none; */
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
/* -------------------products----------------- */
.active {
  font-weight: bolder;
}

.wrapper {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
}

nav > div {
  background-color: #f24443;
  display: flex;
  justify-content: space-around;
}

.card {
  width: 25%;
  text-align: center;
  border-radius: 1rem;
  background-color: beige;
  margin: 0.5rem;
}

img {
  height: 250px;
  width: 200px;
}

a:hover {
  font-weight: bolder;
}

/* -------home----------------- */
.welcome {
  color: white;
  text-align: center;
  text-justify: auto;
  justify-content: center;
  padding: 5rem;
  background-image: url('https://wallpaperaccess.com/full/7445.jpg');
  background-size: cover;
  margin: 1rem;
  height: 400px;
  border: solid 2px white;
}

.welcome > a {
  background-color: #f24443;
  padding: 0.5rem;
  border: solid 2px white;
}

.most-popular > h1 {
  color: white;
  text-align: center;
}
/* -----------------cart---------- */

.cart-wrapper {
  background-color: beige;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  margin: 2rem;
}

.cart-items {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 0.5rem;
  padding: 0.5rem;
  align-items: center;
  border: solid 1px black;
}

.cart-items > p,
button {
  height: 2rem;
  justify-content: center;
}

/* ---------------------------- */

.newGame {
  display: flex;
  flex-direction: column;
}

.productLink {
  border: 1px black solid;
  background-color: black;
  padding: 0.25rem;
}

/* ----------details----------- */

.product-details {
  background-color: beige;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin: 2rem;
  border-radius: 1rem;
}

.details-1,
.details-2,
.details-3 {
  height: 100%;
  width: 30%;
}

.img-details {
  height: 80%;
  width: 80%;
}

.form-wrapper {
  border-radius: 1rem;
  background-color: beige;
  margin: 2rem;
}

.edit-form,
.new-form {
  display: flex;
  /* justify-content: space-around; */
  flex-direction: column;
  padding: 1rem;
  margin: 0 1rem;
}
.edit-form > p {
  padding: none;
}

p > input,
select {
  height: 2rem;
  width: 100%;
}

.OrderCard {
  background-color: white;
}

/* search bar */

.search-bar {
  color: white;
  font-weight: bolder;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 30%;
  justify-content: space-around;
}

.search-bar > select {
  height: 2rem;
  background-color: beige;
}
/* profile */
.profile-wrapper {
  background-color: beige;
  display: flex;
  text-align: center;
  margin: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  justify-content: space-evenly;
}

.link-button {
  background-color: black;
  padding: 0.5rem;
  border: solid 1px white;
  width: 20%;
}

.button-edit {
  width: 500px;
}
/* table */
.table-wrapper {
  display: flex;
  width: 100%;
  overflow: auto;
  background-color: beige;
  align-content: center;
  border-radius: 1rem;
}

table {
  margin: 2rem;
  border: solid 2px lightgrey;
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: lightgrey;
  text-align: center;
}

th {
  padding: 5px;
}

td {
  text-align: center;
}
td > a {
  color: blue;
}
td > button {
  width: 200px;
}
tr:nth-child(even) {
  background-color: lightgray;
}

.wrapper > h2 {
  color: white;
}

/* checkout form */

.checkout-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
}

.checkout-form > h1 {
  text-align: center;
}

.checkout-form > input {
  height: 2rem;
  margin: 0.5rem;
}

.split {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
