body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  /* text-decoration-style: none; */
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.active {
  font-weight: bolder;
}

img {
  height: 200px;
  width: 150px;
}
